@model IEnumerable<MusicLib.BLL.DTO.PlayerDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Каталог игроков</h2>

<p>
    <a asp-action="Create">Добавить игрока</a>
</p>
<table class="table-condensed" style="width:100%">
    <tr>
        <th>Имя игрока</th>
        <th>Возраст</th>
        <th>Позиция на поле</th>
        <th>Клуб</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
        </td>
    </tr>
}
</table>