@model IEnumerable<MusicLib.BLL.DTO.ArtistDTO> 

@{
    ViewBag.Title = "Index";
}

<h2>List of Artists</h2>
<p>
    <a asp-action="Create">Add a new Artist</a>
</p>
<table class="table-condensed" style="width:100%">
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Birthdate")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detailes</a>

                @if (Context.Session.GetInt32("Role") == 1)
                {
                    <a>|</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a>|</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
    }
</table>