@model IEnumerable<MusicLib.BLL.DTO.VideoDTO> 

@{
    ViewBag.Title = "Index";
}
@if (TempData["Message"] != null)
{
    <div class="warning alert-success">
        @TempData["Message"]
    </div>
}
<h2>List of Videos</h2>
<p>
    <a asp-action="Create">Add a new Video</a>
</p>
<table class="table-condensed" style="width:100%">
    <tr>
        <th>
            @Html.Label("Video")
        </th>
        <th>
            @Html.Label("FileName")
        </th>
        <th>
            @Html.Label("Path")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                <a asp-action="Watch" asp-route-id="@item.Id">Watch</a> 

                @if (Context.Session.GetInt32("Role") == 1)
                {
                       <a>|</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a>|</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                }
            </td>
        </tr>
    }
</table>

