@model MusicLib.BLL.DTO.SongDTO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Song</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    @Html.Label("Song:")
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Release:")
                <input asp-for="Release" class="form-control" />
                <span asp-validation-for="Release" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Genre:")
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.ListGenres as SelectList"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Artist:")
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ListArtists as SelectList"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Video:")
                <select asp-for="VideoId" class="form-control" asp-items="ViewBag.ListVideos as SelectList"></select>
                <span asp-validation-for="VideoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index")
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
